---
import "../styles/global.css";
import Navbar from "../components/nav/Navbar.tsx";
import Sidebar from "../components/sidebar/Sidebar.tsx";
import ToasterClient from "../components/ToasterClient.tsx";
---

<div class="bg-gray-100 min-h-screen">
  <script>
    const token = localStorage.getItem("token");
    if (!token) window.location.href = "/login";
  </script>

  <Navbar client:load />

  <div class="flex">
    <Sidebar client:load />

    <!-- React toaster -->
    <ToasterClient client:load />

    <main class="flex-1 p-6">
      <slot />
    </main>
  </div>
</div>
